// palette
$black: #333;
$blue: #00ffef;
$red: #db2763;
$green: #b0db43;
$orange: #ffa100;

// borders, lines
$stroke-grey: #efefef;
$stroke-blue: #bce7fd;

// text
$text-dark: #1e1e1e;
$text-mid: rgba(0, 0, 0, 0.2);
$txt-light: #fafafa;
