@import "../core/vars";

#current-query {
  .step {
    display: flex;

    & + .step { margin-top: 5px; }
  }

  .label {
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.25);
    color: $txt-light;
    font-size: 11px;

    &.method {
      &.POST {
        background-color: $orange;
        color: $text-dark;
      }
    }
  }

  .value {
    color: $txt-light;
    font-size: 12px;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .hellip { display: none; }
  }

  .step.show-hellip .value .hellip { display: inline-block; }

  .buttons {
    margin-top: 10px;
  }
}
