@import "../core/vars";

#current-query {
  .step {
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.75;

    & + .step { margin-top: 5px; }

    &.active {
      cursor: default;
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  .label {
    padding: 5px;
    border-radius: 3px;
    color: $text-light;
    font-size: 11px;
    width: 35px;

    &.method {
      &.POST { color: $orange; }
      &.GET { color: $green; }
    }
  }

  .value {
    color: $text-light;
    font-size: 12px;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;

    .hellip { display: none; }

    &.empty {
      font-style: italic;
      opacity: 0.75;
    }
  }

  .step.show-hellip .value .hellip { display: inline-block; }

  .buttons {
    margin-top: 10px;
  }
}
