@import "../core/vars";

#query-modifiers {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 50%;
  border-left: 1px solid #111;

  #payload,
  #runner {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $black;
    position: relative;
    transition: max-height 0.2s ease-out;
    max-height: 39px;

    .title {
      color: fade-out(#fff, 0.5);
      text-align: right;
      padding: 10px;
      font-size: 14px;
    }

    &-editor {
      flex: 1;
    }

    .status {
      display: none;
      position: absolute;
      left: 5px;
      bottom: 5px;
      border-radius: 3px;
      font: 11px / 1.4em $font-mono;
      padding: 5px;
      width: unquote("calc(100% - 20px)");

      &.error {
        background-color: $red;
        color: $text-light;
      }
    }

    button {
      display: none;
      position: absolute;
      bottom: 10px;
      right: 10px;
      z-index: 1;
    }

    &.expanded {
      max-height: 100vh;

      button,
      .status {
        display: unset;
      }
    }

    &:not(.expanded) .title {
      cursor: pointer;
      color: fade-out(#fff, 0.75);
      background-color: #111;
      &:hover { color: fade-out(#fff, 0.5); }
    }
  }
}
