@import "../core/vars";

#query-modifiers {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  max-width: 50%;

  #payload,
  #runner {
    display: flex;
    flex: 1;
    background-color: $black;
    position: relative;

    &-editor {
      flex: 1;
    }

    .status {
      position: absolute;
      left: 5px;
      bottom: 5px;
      border-radius: 3px;
      font: 11px / 1.4em $font-mono;
      padding: 5px;
      width: unquote("calc(100% - 20px)");

      &.error {
        background-color: $red;
        color: $text-light;
      }
    }

    button {
      position: absolute;
      bottom: 10px;
      right: 10px;
      z-index: 1;
    }
  }

  #runner {
    border-top: 1px solid #111;
  }
}
