#payload {
  display: flex;
  flex: 1;
  max-width: 50%;

  textarea {
    background-color: #111;
    width: 100%;
    color: #eee;
    border: none;
    padding: 10px;
    font: 14px "Roboto Mono";

    &:focus {
      outline: none;
    }
  }
}
