@import "../core/vars";

#queries {
  .title {
    font: 14px $font-sans;
    color: $text-light;
    margin-bottom: 10px;
    padding: 0 5px;
  }

  .query {
    .step {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 5px 10px 10px;

      &.active {
        background-color: $vanta;
        cursor: default;
      }

      .label { opacity: 1; }

      .step-info { flex: 1; }

      .step-status {
        flex: none;
        line-height: 1em;
        width: 10px;
        text-align: center;

        .fetching { color: $orange; }
        .error { color: $red; }
      }

      .remove-step {
        flex: none;
        opacity: 0;
        color: $red;
        border: 1px solid $red;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        font-size: 9px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;

        .icon { opacity: 1 !important; }
      }

      &:hover {
        background-color: fade-out($vanta, 0.5);

        .remove-step {
          opacity: 0.5;

          &:hover { opacity: 1; }
        }
      }
    }

    .label {
      display: inline-block;
      color: $text-light;
      font-size: 11px;
      width: 30px;

      &.method {
        &.POST { color: $orange; }
        &.GET { color: $green; }
      }
    }

    .value {
      color: $text-light;
      font-size: 12px;
      margin: 0 0 0 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      -webkit-font-smoothing: antialiased;

      .hellip { display: none; }

      &.empty {
        font-style: italic;
        opacity: 0.75;
      }
    }

    .step.show-hellip .value .hellip { display: inline-block; }

    .buttons {
      padding: 5px;
    }
  }
}
