@import "../core/vars";

#query {
  display: flex;
  height: 50px;
  border-bottom: 1px solid $stroke-grey;

  input {
    width: 100%;
    border: 0;
    background: transparent;
    font-size: 14px;
    padding: 10px;
  }
}
