@import "../core/vars";

#queries {
  .title {
    font: 14px $font-sans;
    color: $text-light;
    margin-bottom: 10px;
    padding: 0 5px;
  }

  .query {
    padding: 10px;

    .step {
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 0.75;

      & + .step { margin-top: 5px; }

      &.active {
        cursor: default;
        opacity: 1;
      }

      .step-info {
        flex: 1;
      }

      .step-status {
        line-height: 1em;
        padding: 0 3px;
        width: 5px;

        .fetching { color: $orange; }
      }

      .remove-step {
        flex: none;
        opacity: 0;
        color: $red;
        border: 1px solid $red;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        font-size: 9px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;

        .icon {
          opacity: 1 !important;
          position: relative;
          top: 1px;
        }
      }

      &:hover {
        opacity: 1;

        .remove-step {
          opacity: 0.75;

          &:hover { opacity: 1; }
        }
      }
    }

    .label {
      display: inline-block;
      padding: 5px;
      color: $text-light;
      font-size: 11px;
      width: 20px;

      &.method {
        &.POST { color: $orange; }
        &.GET { color: $green; }
      }
    }

    .value {
      color: $text-light;
      font-size: 12px;
      margin: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      -webkit-font-smoothing: antialiased;

      .hellip { display: none; }

      &.empty {
        font-style: italic;
        opacity: 0.75;
      }
    }

    .step.show-hellip .value .hellip { display: inline-block; }

    .buttons {
      margin-top: 10px;
    }
  }
}
