@import "../core/vars";

#queries {
  .query {
    .title {
      display: flex;
      font: 14px $font-sans;
      color: $text-grey;
      padding: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      align-items: center;
      position: relative;

      input {
        font: 14px $font-sans;
        color: $text-grey;
        border: 0;
        background-color: transparent;
        flex: 1;
        width: 100%;
        padding: 10px 30px 10px 7px;
        text-overflow: ellipsis;
        overflow: hidden;

        &:focus {
          background-color: fade-out($vanta, 0.5);
          outline: none;
        }
      }

      .icon {
        color: fade-out($text-grey, 0.5);
        margin-right: 10px;
        opacity: 1;
        font-size: 150%;
      }
    }

    &.active {
      $highlight: darken($grey, 20%);

      background-color: $vanta;
      padding-bottom: 10px;

      &:not(:first-child) { padding-top: 10px; }

      .title {
        padding: 0;

        input { color: $text-light; }

        .icon { margin: 0 0 0 10px; }

        &:hover { input { font-style: italic; } }
      }
    }

    &:not(.active) {
      &:hover {
        background-color: fade-out($vanta, 0.5);

        .title {
          cursor: pointer;
          color: $text-mid;
        }
      }
    }

    .step {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 5px 10px 10px;

      $activeBg: #0c0c0c;

      &.active {
        background-color: $activeBg;
        cursor: default;
      }

      &.dragging { opacity: 0.5; }

      &.droppable:not(.dragging) {
        padding: 9px 4px 9px 9px;
        border: 1px dashed $stroke-grey;
      }

      .label { opacity: 1; }

      .step-info { flex: 1; }

      .step-status {
        flex: none;
        line-height: 1em;
        width: 10px;
        text-align: center;
        margin: 0 3px;

        .fetching { color: $orange; }

        .error {
          color: $red;

          .icon {
            font-size: 10px;
            -webkit-font-smoothing: antialiased;
          }
        }
      }

      .remove-step {
        flex: none;
        opacity: 0;
        color: $red;
        border: 1px solid $red;
        border-radius: 50%;
        height: 14px;
        width: 14px;
        font-size: 9px;
        align-items: center;
        justify-content: center;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
        display: none;

        .icon { opacity: 1 !important; }
      }

      &.active .remove-step {
        display: inline-flex;
      }

      &:hover {
        background-color: fade-out($activeBg, 0.25);

        .remove-step {
          opacity: 0.5;

          &:hover { opacity: 1; }
        }
      }
    }

    .label {
      display: inline-block;
      color: $text-light;
      font-size: 11px;
      width: 30px;

      &.method {
        &.POST { color: $orange; }
        &.GET { color: $green; }
      }
    }

    .value {
      color: $text-light;
      font-size: 12px;
      margin: 0 0 0 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      -webkit-font-smoothing: antialiased;

      .hellip { display: none; }

      &.empty {
        font-style: italic;
        opacity: 0.75;
      }
    }

    .step.show-hellip .value .hellip { display: inline-block; }
  }
}
