@import "../core/vars";

#repl {
  flex: 1;
  max-width: 50%;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: $stroke-light-grey;
  overflow: hidden;
  font: 11px / 1.4em Hack, Inconsolata, Consolas, Monaco, monospace;
  padding: 5px;
  display: flex;
  flex-direction: column;

  .response-actions {
    flex: none;
  }

  .status {
    display: block;
    padding: 5px;
    color: $text-dark;
    font-family: $font-sans;

    &.empty {
      font-weight: 500;
      color: $text-mid;
    }

    &.fetching { background-color: $yellow; }

    &.modified {
      background-color: $blue;
      color: $text-light;
    }

    &.error {
      background-color: $red;
      color: $text-light;
    }

    &.assertion {
      color: $text-light;
      font-family: $font-mono;

      &.true { background-color: $green; }
      &.false { background-color: $red; }

      .result { color: rgba(0, 0, 0, 0.25); }
    }
  }

  .response-meta {
    display: flex;
    flex: none;
    justify-content: flex-end;
    padding: 10px;

    .meta-info {
      font: 14px $font-sans;
      padding: 5px 10px;

      .label {
        color: rgba(255, 255, 255, 0.5);
        margin-right: 5px;
      }

      & + .meta-info {
        margin-left: 10px;
      }
    }

    .status {
      background-color: $base04;
      color: $text-light;

      &.s200 { background-color: $green; }

      &.s404,
      &.s401 { background-color: $red; }

      &.s301,
      &.s302 { background-color: $orange; }
    }

    .time {
      color: $text-light;

      &.good { background-color: $green; }

      &.medium { background-color: $orange; }

      &.bad { background-color: $red; }
    }

    .units {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .curl-container {
    display: flex;
    flex-direction: column;
    flex: none;
    margin: 0 0 -5px -5px;
    width: unquote("calc(100% + 10px)");
    max-height: 40px;
    transition: max-height 0.2s ease-out;

    .title {
      display: flex;
      align-items: center;
      flex: none;
      background-color: lighten($orange, 10%);
      color: $text-dark;
      cursor: pointer;
      padding: 0 10px;
      font-size: 14px;
      height: 40px;
    }

    textarea {
      border: 0;
      flex: 1;
      line-height: 1.5em;
      font-family: $font-mono;
      padding: 10px;
      color: $base03;
      background-color: $base06;
      outline: 0;
    }

    &.active {
      height: 150px;
      max-height: 150px;

      .title {
        font-style: normal;
        background-color: $orange;
      }
    }
  }

  > ul {
    flex: 1;
    margin: 0 5px !important;
    overflow-y: auto;
    padding-bottom: 10px !important;
  }
}
