@import "../core/vars";

#repl {
  flex: 1.25;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: $stroke-light-grey;
  overflow: auto;
  font: 11px / 1.4em Hack, Inconsolata, Consolas, Monaco, monospace;
  padding: 5px;

  .status {
    display: block;
    padding: 5px;
    color: $text-dark;

    &.empty {
      font-style: italic;
      color: $text-mid;
    }

    &.fetching { background-color: $yellow; }

    &.modified {
      background-color: $blue;
      color: $text-light;
    }

    &.error {
      background-color: $red;
      color: $text-light;
    }

    &.assertion {
      color: $text-light;

      &.true { background-color: $green; }
      &.false { background-color: $red; }
    }
  }

  > ul {
    margin: 0 5px !important;
  }
}
