@import "../core/vars";

#sidebar {
  -webkit-app-region: drag;
  background-color: $black;

  .title {
    display: flex;
    align-items: center;
    color: $yellow;
    background-color: #111;
    font-weight: 300;
    font-size: 14px;
    height: 60px;
  }
}
