@import "../core/vars";

#sidebar {
  background-color: $black;

  > .title {
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    color: $yellow;
    background-color: $vanta;
    font-weight: 300;
    font-size: 14px;
    height: 50px;
  }
}
