#step-editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: unquote("calc(100vw - 220px)");

  .top {
    display: flex;
    flex: none;

    button {
      flex: none;
    }

    button + button { margin-left: 5px; }
  }

  .bottom {
    display: flex;
    flex: 1;
  }
}
