#main {
  display: flex;
  min-height: 100vh;
}

// layout
#saved-queries {
  width: 220px;
}

#editor {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex: 1;

  #query {
    flex: none;
    width: 100%;
  }

  #payload {
    flex: 1;
  }

  #repl {
    flex: 1;
  }
}
