/**
 * High level layout definitions
 * Dimensions, Margins and Padding only
 */

#main {
  display: flex;
  min-height: 100vh;
}

// layout
#sidebar {
  width: 220px;
}

#steps {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex: 1;
}
