@font-face {
  font-family: "icomoon";
  src: url("#{$fontsDir}/icomoon.eot?9mle8c");
  src:
    url("#{$fontsDir}/icomoon.eot?9mle8c#iefix") format("embedded-opentype"),
    url("#{$fontsDir}/icomoon.ttf?9mle8c") format("truetype"),
    url("#{$fontsDir}/icomoon.woff?9mle8c") format("woff"),
    url("#{$fontsDir}/icomoon.svg?9mle8c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross::before {
  content: "\e901";
}

.icon-plus::before {
  content: "\e902";
}

.icon-info::before {
  content: "\e903";
}

.icon-run::before {
  content: "\e900";
}

.icon-menu::before {
  content: "\e9bd";
}

.icon-menu-down::before {
  content: "\e9bf";
}

.icon-menu-up::before {
  content: "\e9c0";
}

.icon-play::before {
  content: "\ea15";
}

.icon-am::before {
  content: "\ea54";
}

.icon-code::before {
  content: "\ea7f";
}
